/* CSS styles */

body {
  background-color: #C2E5D3;
  }

#nav-items {

        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        background: #cef2df;
        border-radius: 20px;
        border: 2px solid black;
    }

input {
  width: 100%;
  padding: 10px 16px;
  background: #cef2df;
  margin: 2px;
  border: 2px solid black;
  border-radius: 4px;
}

#left_aligned {
  max-width: 50%;
}

#main_button {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 15px;
          border-radius: 25px;
          background-color: #cef2df;
          border: 1px solid #1B1725;
          font-size: 25px;
          font-family: verdana;
    }

#main_button_margin {
  font-size: 10px;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  color: #226CE0;
  font-family: verdana;
}


a:visited {
  text-decoration: none;
  font-weight: bold;
  font-family: verdana;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: mediumpurple;
  font-family: verdana;
}

a:active {
  text-decoration: none;
  font-weight: bold;
  font-family: verdana;
}

h1 {
  color: #1B1725;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: verdana;
}

h2 {
  color: #1B1725;
  font-size: 20px;
  font-family: verdana;
}


p {
  color: #1B1725;
  font-family: verdana;
}

#home {
  display: block;
  margin: 20px;
  border: 2px solid purple;
  border-radius: 25px;
  background-color: lightgray;
  color: midnightblue;
  font-weight: bold;
  font-style: bold;
  cursor: pointer;
  font-size: 25px
}
