
h1 {
      background-color: blue;
      color: purple;
      font-size: 64px;
      font-weight: bold;
      font-family: Verdana;
      padding: 20px;
      border-radius: 0;
      border: 1px outset;
      margin: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

#hello_world {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 10px;
          border-radius: 25px;
          background-color: #c2c2c2;
          border: 1px solid #3ac0da;
    }
